<?xml version="1.0"?>
<launch>

    <arg name="gui" default="false" doc="Starts gazebo gui" />

    <arg name="moveit" default="true" doc="Use MoveIt for motion planning"/>
    <arg name="rviz"   default="true" doc="Launch RViz with movit planner plugin"/>

    <arg name="limited" default="true"  doc="Use the description in limited mode (Every axis rotates from -PI to PI)"/>

    <include file="$(find iris_ur10e)/launch/ur10e.launch">
        <arg name="sim"     value="true"/>
        <arg name="gui"     value="$(arg gui)"/>
        <arg name="moveit"  value="$(arg moveit)"/>
        <arg name="rviz"    value="$(arg rviz)"/>
        <arg name="limited" value="$(arg limited)"/>
    </include>

</launch>

